* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


/* Custom controles */

.buttons {
    text-align: center;
    padding: 10px;
}

.btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 7px 10px;
    border: 1px solid;
    border-radius: 5px;
    min-width: 75px;
    color: white;
    background: rgb(68, 120, 216);
}

.btn:hover {
    background: rgb(80, 141, 255);
}